In [71]:
import pandas as pd

Series -> 파이썬의 리스트

In [72]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [73]:
pd_odd = pd.Series(odd)
pd_odd

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [74]:
pd_odd.mean()

5.0

DataFrame -> 표

In [75]:
numbers = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

numbers = pd.DataFrame(numbers)
numbers

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [76]:
numbers[0]

0    1
1    4
2    7
Name: 0, dtype: int64

In [77]:
type(numbers)

pandas.core.frame.DataFrame

In [78]:
type(numbers[0])

pandas.core.series.Series

In [79]:
type(numbers.loc[0])

pandas.core.series.Series

In [80]:
numbers.loc[0]

0    1
1    2
2    3
Name: 0, dtype: int64

Data Type

In [81]:
odd
odd = pd.Series(odd)

odd.dtype

dtype('int64')

In [82]:
import numpy as np

odd = [1, 3, 5, 7, 9]

 # DataFrame

In [83]:
order = pd.read_csv('order.csv', index_col= "id")

order

    user_id  product_id        date  price  address      state
id
1         3           9  2017-01-01    500    Seoul  confirmed
2         1           7  2017-01-03    700    Seoul  confirmed
3         3           8  2017-01-03    900  Daejeon  confirmed
4         4           2  2017-01-07    500      NaN   canceled
5         7           3  2017-01-09    700  Incheon  confirmed
6         5           7  2017-01-09    600    Busan   canceled
7         2           5  2017-01-10    200      NaN   canceled

In [84]:
order.index

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64', name='id')

In [85]:
order.columns

Index(['user_id', 'product_id', 'date', 'price', 'address', 'state'], dtype='object')

In [86]:
order.values

array([[3, 9, '2017-01-01', 500, 'Seoul', 'confirmed'],
       [1, 7, '2017-01-03', 700, 'Seoul', 'confirmed'],
       [3, 8, '2017-01-03', 900, 'Daejeon', 'confirmed'],
       [4, 2, '2017-01-07', 500, nan, 'canceled'],
       [7, 3, '2017-01-09', 700, 'Incheon', 'confirmed'],
       [5, 7, '2017-01-09', 600, 'Busan', 'canceled'],
       [2, 5, '2017-01-10', 200, nan, 'canceled']], dtype=object)

## 기본 연산

In [87]:
order['price'].mean()

585.7142857142857

In [88]:
order['price'].max()

900

In [89]:
order['price'].min()

200

In [90]:
order['price'].describe()

count      7.000000
mean     585.714286
std      219.306266
min      200.000000
25%      500.000000
50%      600.000000
75%      700.000000
max      900.000000
Name: price, dtype: float64

In [91]:
order['state']

id
1    confirmed
2    confirmed
3    confirmed
4     canceled
5    confirmed
6     canceled
7     canceled
Name: state, dtype: object

In [92]:
order['state'].unique()

array(['confirmed', 'canceled'], dtype=object)

In [93]:
order['state'].value_counts()

confirmed    4
canceled     3
Name: state, dtype: int64

In [94]:
order['state'].value_counts(normalize = True)

confirmed    0.571429
canceled     0.428571
Name: state, dtype: float64

In [95]:
order['state'] = order['state'].replace('confirmed', 'confirm')

In [96]:
order['state'] = order['state'].replace('canceled', 'cancel')

In [97]:
order

    user_id  product_id        date  price  address    state
id
1         3           9  2017-01-01    500    Seoul  confirm
2         1           7  2017-01-03    700    Seoul  confirm
3         3           8  2017-01-03    900  Daejeon  confirm
4         4           2  2017-01-07    500      NaN   cancel
5         7           3  2017-01-09    700  Incheon  confirm
6         5           7  2017-01-09    600    Busan   cancel
7         2           5  2017-01-10    200      NaN   cancel

In [98]:
order['date'] = pd.to_datetime(order['date'])

In [99]:
order['date']

id
1   2017-01-01
2   2017-01-03
3   2017-01-03
4   2017-01-07
5   2017-01-09
6   2017-01-09
7   2017-01-10
Name: date, dtype: datetime64[ns]


## 행렬 검색하기

In [100]:
order

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
4         4           2 2017-01-07    500      NaN   cancel
5         7           3 2017-01-09    700  Incheon  confirm
6         5           7 2017-01-09    600    Busan   cancel
7         2           5 2017-01-10    200      NaN   cancel

In [101]:
order[['user_id', 'date', 'price']]

    user_id       date  price
id
1         3 2017-01-01    500
2         1 2017-01-03    700
3         3 2017-01-03    900
4         4 2017-01-07    500
5         7 2017-01-09    700
6         5 2017-01-09    600
7         2 2017-01-10    200

In [102]:
order.loc[[1, 3, 7]]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
7         2           5 2017-01-10    200      NaN   cancel

In [103]:
order.loc[1]['date']

Timestamp('2017-01-01 00:00:00')

In [104]:
order.loc[1, 'date']

Timestamp('2017-01-01 00:00:00')

In [105]:
%timeit order.loc[1],['date']

135 µs ± 5.55 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [106]:
%timeit order.loc[1, 'date']

16.1 µs ± 3.05 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [107]:
%timeit order.at[1, 'date']

10 µs ± 93.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [108]:
order['date']

id
1   2017-01-01
2   2017-01-03
3   2017-01-03
4   2017-01-07
5   2017-01-09
6   2017-01-09
7   2017-01-10
Name: date, dtype: datetime64[ns]

In [109]:
date_candidate = ['2017-01-01', '2017-01-05', '2017-01-09']

In [110]:
order[order['date'].isin(date_candidate)]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
5         7           3 2017-01-09    700  Incheon  confirm
6         5           7 2017-01-09    600    Busan   cancel

In [111]:
order[order['address'].isnull()]

    user_id  product_id       date  price address   state
id
4         4           2 2017-01-07    500     NaN  cancel
7         2           5 2017-01-10    200     NaN  cancel

In [112]:
order[~order['address'].isnull()]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
5         7           3 2017-01-09    700  Incheon  confirm
6         5           7 2017-01-09    600    Busan   cancel

In [113]:
order[order['address'].notnull()]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
5         7           3 2017-01-09    700  Incheon  confirm
6         5           7 2017-01-09    600    Busan   cancel

In [114]:
order[(order['price'] >= 500) & (order['state'] == 'confirm')]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
5         7           3 2017-01-09    700  Incheon  confirm

In [115]:
high = order['price'] >= 500
confirm = order['state'] == 'confirm'

order[high & confirm]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
5         7           3 2017-01-09    700  Incheon  confirm

In [116]:
order[high | confirm]

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
4         4           2 2017-01-07    500      NaN   cancel
5         7           3 2017-01-09    700  Incheon  confirm
6         5           7 2017-01-09    600    Busan   cancel

In [117]:
order[order['date'] == '2017-01-09']['price']

id
5    700
6    600
Name: price, dtype: int64

In [118]:
order.loc[order['date'] == '2017-01-09', 'price']

id
5    700
6    600
Name: price, dtype: int64

## 컬럼 추가 및 수정

In [119]:
order

    user_id  product_id       date  price  address    state
id
1         3           9 2017-01-01    500    Seoul  confirm
2         1           7 2017-01-03    700    Seoul  confirm
3         3           8 2017-01-03    900  Daejeon  confirm
4         4           2 2017-01-07    500      NaN   cancel
5         7           3 2017-01-09    700  Incheon  confirm
6         5           7 2017-01-09    600    Busan   cancel
7         2           5 2017-01-10    200      NaN   cancel

In [120]:
order['card-holder'] = 'Hyundai Card'
order

    user_id  product_id       date  price  address    state   card-holder
id
1         3           9 2017-01-01    500    Seoul  confirm  Hyundai Card
2         1           7 2017-01-03    700    Seoul  confirm  Hyundai Card
3         3           8 2017-01-03    900  Daejeon  confirm  Hyundai Card
4         4           2 2017-01-07    500      NaN   cancel  Hyundai Card
5         7           3 2017-01-09    700  Incheon  confirm  Hyundai Card
6         5           7 2017-01-09    600    Busan   cancel  Hyundai Card
7         2           5 2017-01-10    200      NaN   cancel  Hyundai Card

In [121]:
order['order'] = [1, 2, 3, 4, 5, 6, 7]

In [122]:
order

,user_id,product_id,date,price,address,state,card-holder,order
id,,,,,,,,
1,3,9,2017-01-01,500,Seoul,confirm,Hyundai Card,1
2,1,7,2017-01-03,700,Seoul,confirm,Hyundai Card,2
3,3,8,2017-01-03,900,Daejeon,confirm,Hyundai Card,3
4,4,2,2017-01-07,500,NaN,cancel,Hyundai Card,4
5,7,3,2017-01-09,700,Incheon,confirm,Hyundai Card,5
6,5,7,2017-01-09,600,Busan,cancel,Hyundai Card,6
7,2,5,2017-01-10,200,NaN,cancel,Hyundai Card,7

In [123]:
order['VIP'] = order['price'] >= 500
order

,user_id,product_id,date,price,address,state,card-holder,order,VIP
id,,,,,,,,,
1,3,9,2017-01-01,500,Seoul,confirm,Hyundai Card,1,True
2,1,7,2017-01-03,700,Seoul,confirm,Hyundai Card,2,True
3,3,8,2017-01-03,900,Daejeon,confirm,Hyundai Card,3,True
4,4,2,2017-01-07,500,NaN,cancel,Hyundai Card,4,True
5,7,3,2017-01-09,700,Incheon,confirm,Hyundai Card,5,True
6,5,7,2017-01-09,600,Busan,cancel,Hyundai Card,6,True
7,2,5,2017-01-10,200,NaN,cancel,Hyundai Card,7,False

In [124]:
order['VIP'] = (order['price'] >=500) & (order['state'] == 'confirm')
order

,user_id,product_id,date,price,address,state,card-holder,order,VIP
id,,,,,,,,,
1,3,9,2017-01-01,500,Seoul,confirm,Hyundai Card,1,True
2,1,7,2017-01-03,700,Seoul,confirm,Hyundai Card,2,True
3,3,8,2017-01-03,900,Daejeon,confirm,Hyundai Card,3,True
4,4,2,2017-01-07,500,NaN,cancel,Hyundai Card,4,False
5,7,3,2017-01-09,700,Incheon,confirm,Hyundai Card,5,True
6,5,7,2017-01-09,600,Busan,cancel,Hyundai Card,6,False
7,2,5,2017-01-10,200,NaN,cancel,Hyundai Card,7,False

In [125]:
order.loc[order['price'] >= 500 & (order['state'] == 'confirm'), 'level'] = "VIP"
order.loc[order['price'] < 500 | (order['state'] == 'cancel'), 'level'] = "Non-VIP"
order

,user_id,product_id,date,price,address,state,card-holder,order,VIP,level
id,,,,,,,,,,
1,3,9,2017-01-01,500,Seoul,confirm,Hyundai Card,1,True,VIP
2,1,7,2017-01-03,700,Seoul,confirm,Hyundai Card,2,True,VIP
3,3,8,2017-01-03,900,Daejeon,confirm,Hyundai Card,3,True,VIP
4,4,2,2017-01-07,500,NaN,cancel,Hyundai Card,4,False,VIP
5,7,3,2017-01-09,700,Incheon,confirm,Hyundai Card,5,True,VIP
6,5,7,2017-01-09,600,Busan,cancel,Hyundai Card,6,False,VIP
7,2,5,2017-01-10,200,NaN,cancel,Hyundai Card,7,False,VIP

In [125]:
# apply

In [125]:
def is_vip(price):

    return price

order('price').apply(is_vip)